@import "tailwindcss";

code[class*="language-"],
pre[class*="language-"] {
  color: #e5e7eb;
  font-family: "Fira Code", monospace;
}

.token.comment { color: #64748b; }
.token.punctuation { color: #cbd5f5; }

.token.keyword,
.token.atrule { color: #818cf8; }

.token.string,
.token.builtin { color: #4ade80; }

.token.function,
.token.class-name { color: #facc15; }

.token.number,
.token.boolean { color: #f472b6; }

.token.operator,
.token.variable { color: #38bdf8; }